{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <!-- Header Four -->
  <div class="section">
    <div class="breadcrub-style-4">
      <div class="container">
        <div class="heading">
          <h2>{% trans "News"%}</h2>
        </div>
      </div>
    </div>
  </div>

    <!-- Page Navigation -->
    <div class="page-nav-section section hide-md-and-down">
      <div class="container">
        <ul class="d-flex align-items-center">
          <li><a href="{% url 'news' %}" class="active">{% trans "All" %}</a></li>
          <li><a href="{% url 'ads' %}">{% trans "Ennouncements"%}</a></li>
          <li class="d-flex align-items-center search-input-group">
            <form method="post">
              {% csrf_token %}
            <input name="search-ad" type="text" placeholder="Type something to search" />
            <button type="submit" style="border:none; background:none;"><i class="flaticon-search"></i></button>
            </form>            
          </li>
        </ul>
      </div>
    </div>



      <div class="section">
        <div class="container">
          <div class="row">
            {% for new in news %}
            <div class="col-lg-6">
              <div class="course-card-style-2">
                <div class="card">
                  <img class="card-img-top" src="{{new.image.url}}"
                    alt="Card image cap">
                  <div class="card-img-overlay">
                    <div class="card-body">
                      <h5>{{new.title}}</h5>
                      <p class="auther">{{new.created_at|date:'d M, Y'}}</p>
                      <p class="details">{{new.text|truncatechars:255}}</p>
      
                      <div class="more">
                        <h4 class="price"><sup></sup><i class="fas fa-eye"></i> {{new.count}}</h4>
                        <a href="{% url 'news-detail' pk=new.pk %}" class="small-btn">{% trans "Read it"%}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>


        <!-- Pagination -->
        {% if news.has_other_pages %}
        <div class="col-12 col-lg-12 blog-content">
          <div class="pagination-style-1">
            {% if news.has_previous %}
            <a class="prev" role="button" data-slide="prev" href="?page={{ news.previous_page_number }}">
              <i class="flaticon-back"></i>
            </a>
            {% endif %}
            <div class="page-num">
              {% if news.has_previous %}
              <a class="total">{{ news.previous_page_number }}</a>
              {% endif %}
              {% for i in news.paginator.page_range %}
              {% if news.number == i %}
              <a class="current">{{ i }}</a>
              {% endif %}
              {% endfor %}
              {% if news.has_next %}
              <a class="total">{{ news.next_page_number }}</a>
              {% endif %}
            </div>
            {% if news.has_next %}
            <a class="next" role="button" data-slide="next" href="?page={{ news.next_page_number  }}">
              <i class="flaticon-next"></i>                
            </a>
            {% endif %}
          </div>
        </div>
        {% endif %} 
      </div>
    </div>

 {% endblock %}