{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <!-- Showcase Section -->
    <div class="header_section section">
        <div class="social-icon">
            <ul>
                {% if sociallinks.facebook %}
                <li><a target="_blank" href="{{sociallinks.facebook}}"><i
                            class="fab fa-facebook-square"></i></a></li>
                {% endif %}
                {% if sociallinks.instagram %}
                <li><a target="_blank" href="{{sociallinks.instagram}}"><i
                            class="fab fa-instagram"></i></a></li>
                {% endif %}
                {% if sociallinks.twitter %}
                <li><a target="_blank" href="{{sociallinks.twitter}}"><i class="fab fa-twitter"></i></a></li>
                {% endif %}
                {% if sociallinks.linkedin %}
                <li><a target="_blank" href="{{sociallinks.linkedin}}"><i
                            class="fab fa-linkedin"></i></a></li>
                {% endif %}
                {% if sociallinks.youtube %}
                <li><a target="_blank" href="{{sociallinks.youtube}}"><i
                            class="fab fa-youtube"></i></a></li>
                {% endif %}
                {% if sociallinks.telegram %}
                <li><a target="_blank" href="{{sociallinks.telegram}}"><i
                            class="fab fa-telegram"></i></a></li>
                {% endif %}
                {% if sociallinks.whatsapp %}
                <li><a target="_blank" href="{{sociallinks.whatsapp}}"><i
                            class="fab fa-whatsapp"></i></a></li>
                {% endif %}
            </ul>
        </div>
        <div class="header-carousel">
            {% for i in introsection %}
            <div class="single-header-item">
                <div class="content-area">
                    <h1 class="title">{{ i.title }}</h1>
                    <p class="d-none d-lg-block">{{ i.some_text }}</p>

                    <a href="index.html#" class="boxed-btn">Learn More</a>
                </div>
                <div class="bg-image" style="background-image: url({{ i.image.url }})">

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Events Section -->
    <section class="events-section section">
        <!-- Side Icons -->
        <div class="fixed-right side-form-icons">
            <i class="fas fa-phone icon" id="open-opening-popup"></i>
            <i class="fas fa-map-marker-alt icon" id="open-location-popup"></i>
            <i class="fas fa-envelope icon" id="open-form-popup"></i>
        </div>
        <div class="container">
            <h2 class="margin-bottom-50">Announcements</h2>
            {% for n in ads %}
            <div class="row event-item-style-1 {%if n == ad_odd %} odd-event {% else %} even-event {% endif %}">
                <div class="col-5 col-lg-2 date">
                    <h1>{{n.created_at|date:'d'}}</h1>
                    <h5>{{n.created_at|date:'M Y'}}</h5>
                </div>
                <div class="col-7 col-md-6 col-lg-3 media">
                    <img src="{{n.image.url}}" alt="events image"
                        class="img-fluid">
                </div>
                <div class="col-12 col-lg-7 details">
                    <h3>{{n.name}}</h3>
                    <p>{{n.text}}</p>
                    <div class="d-flex align-items-center event-infos">
                        <div class="info">
                            <i class="fas fa-clock"></i>
                            <span>{{n.period}}</span>
                        </div>
                        <div class="info ml-5">
                            <i class="fas fa-users"></i>
                            <span>{{n.count}}</span>
                        </div>
                        <div class="info ml-5">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>{{n.area}}</span>
                        </div>
                    </div>
                    <a href="{% url 'ad_detail' pk=n.pk %}"><button class="main-btn">Learn more</button></a>
                </div>
            </div>
            {% endfor %}
            
            <div class="view-more text-center">
                <a href="{% url 'ads' %}">View all</a>
            </div>
        </div>
    </section>

    <!-- Popup -->
    <div class="side-form-popup">
        <div class="popup-wrapper">
            <div class="center-popup">
                <div class="opening-popup">
                    <div class="close-popup">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-8 media">
                            <img src="{% static 'assets/img/University/students/adolescent-adorable-alone.png' %}" alt="media"
                                class="img-fluid">
                        </div>
                        <div class="col-md-6 col-lg-4 content">
                            <h5>Opening hours</h5>
                            <div class="openings">
                                <div class="opening opening-days">
                                    <p class="day">Monday</p>
                                    <div class="divider"></div>
                                    <p class="day">Friday</p>
                                </div>
                                <div class="opening opening-time">
                                    <p class="time">09.00 am</p>
                                    <div class="divider"></div>
                                    <p class="time">17.00 pm</p>
                                </div>
                            </div>
                            <p class="num">{{contactaddress.phone_number}}</p>
                        </div>
                    </div>
                </div>
                <div class="location-popup">
                    <div class="close-popup">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-8 media">
                            <div id="location-map"></iframe></div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 content">
                            <h5>Address</h5>
                            <p class="address">{{contactaddress.address}}</p>
                            <a href="{{contactaddress.address_URL}}"><button class="main-btn">Open in Maps</button></a>
                        </div>
                    </div>
                </div>
                <div class="form-popup">
                    <div class="close-popup">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-7 content">
                            <h4>You have a question for us?</h4>
                            <p>leave your message below or email us at {{contactaddress.email}}</p>
                            <form class="text-left form-style-2" method="post" action="{% url 'receivedmessages' %}">
                                {% csrf_token %}
                                <div class="form-group required">
                                    <label for="email">Email address</label>
                                    <input type="email" id="email" class="form-control" name="email"
                                        placeholder="johnLP12@gmail.com" />
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <input type="text" id="message" class="form-control" name="message"
                                        placeholder="Hello, I wanted to know about this particular course called..." />
                                    <span class="small-text">120 characters left</span>
                                </div>
                                <button class="main-btn" type="submit">Send message</button>
                            </form>
                        </div>
                        <div class="d-none d-lg-block col-lg-5 media">
                            <img src="{% static 'assets/img/University/Coming_soon/ambar-simpang.png' %}" alt="media image"
                                class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- testimonial carousel area -->
    <section class="testimonial-carousel-area padding-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="testimonial-style-1 white-bg">
                        <div class="section-title with-icon">
                            <h3 class="title">What our students say</h3>
                        </div>
                        <div class="testimonial-slider-arrows"></div>
                        <div class="testimonial-slider-dots d-none d-md-block"></div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6 text-center">
                                <div class="testimonial-thumbnail-slider">
                                    {% for t in testimonials %}
                                    <div class="single-testimonial-thumb">
                                        <div class="img-wrap">
                                            <div class="img"
                                                style="background-image: url({{t.image.url}})"></div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-description-slider">
                            {% for t in testimonials %}
                            <div class="single-testimonial-item">
                                <p>{{t.text}}</p>
                                <div class="author-meta">
                                    <h4 class="title"><strong>{{t.fullname}}</strong><span class="divider"> | </span><span
                                            class="designation">{{t.profession}}</span></h4>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section class="features-section section">
        <div class="container text-center">
            <h2>Why choose us?</h2>
            <p>{{whychooseus.text}}</p>
            <div class="row d-flex justify-content-between">
                <div class="col-12 col-lg-6 media">
                    <img src="{{whychooseus.image.url}}" alt="feature image" class="img-fluid">
                </div>
                <div class="col-12 col-lg-6 content">
                    <div class="accordion-wrapper">
                        <div id="accordion">
                            {% for whychooseusreason in whychooseus.whychooseus.all %}
                            <div class="card">
                                <div class="card-header" id="
                                {% if forloop.counter == 1 %}headingOne
                                {% elif forloop.counter == 2 %}headingTwo
                                {% elif forloop.counter == 3 %}headingThree
                                {% elif forloop.counter == 4 %}headingFour
                                {% elif forloop.counter == 5 %}headingFive
                                {% elif forloop.counter == 6 %}headingSix
                                {% elif forloop.counter == 7 %}headingSeven
                                {% elif forloop.counter == 8 %}headingEight
                                {% else %}headingOne{%endif%}
                                ">
                                    <h5 class="mb-0">
                                        <a {% if forloop.counter != 1 %}class="collapsed"{% endif %} role="button" data-toggle="collapse" data-target="
                                        {% if forloop.counter == 1 %}#collapseOne
                                        {% elif forloop.counter == 2 %}#collapseTwo
                                        {% elif forloop.counter == 3 %}#collapseThree
                                        {% elif forloop.counter == 4 %}#collapseFour
                                        {% elif forloop.counter == 5 %}#collapseFive
                                        {% elif forloop.counter == 6 %}#collapseSix
                                        {% elif forloop.counter == 7 %}#collapseSeven
                                        {% elif forloop.counter == 8 %}#collapseEight
                                        {% else %}#collapseOne{%endif%}" aria-expanded="{% if forloop.counter == 1 %}True{% else %}False{% endif %}" aria-controls="collapseOne"
                                            {% if forloop.counter == 1 %}aria-controls="collapseOne"
                                            {% elif forloop.counter == 2 %}aria-controls="collapseTwo"
                                            {% elif forloop.counter == 3 %}aria-controls="collapseThree"
                                            {% elif forloop.counter == 4 %}aria-controls="collapseFour"
                                            {% elif forloop.counter == 5 %}aria-controls="collapseFive"
                                            {% elif forloop.counter == 6 %}aria-controls="collapseSix"
                                            {% elif forloop.counter == 7 %}aria-controls="collapseSeven"
                                            {% elif forloop.counter == 8 %}aria-controls="collapseEight"
                                            {% else %}aria-controls="collapseTwo"{%endif%}> 
                                            {{whychooseusreason.title}}
                                        </a>
                                    </h5>
                                </div>
                                <div 
                                    {% if forloop.counter == 1 %}id="collapseOne"
                                    {% elif forloop.counter == 2 %}id="collapseTwo"
                                    {% elif forloop.counter == 3 %}id="collapseThree"
                                    {% elif forloop.counter == 4 %}id="collapseFour"
                                    {% elif forloop.counter == 5 %}id="collapseFive"
                                    {% elif forloop.counter == 6 %}id="collapseSix"
                                    {% elif forloop.counter == 7 %}id="collapseSeven"
                                    {% elif forloop.counter == 8 %}id="collapseEight"
                                    {% else %}id="collapseTwo"{%endif%}
                                    class="collapse {% if forloop.counter == 1 %}show{%endif%}"
                                    {% if forloop.counter == 1 %}aria-labelledby="headingOne"
                                    {% elif forloop.counter == 2 %}aria-labelledby="headingTwo"
                                    {% elif forloop.counter == 3 %}aria-labelledby="headingThree"
                                    {% elif forloop.counter == 4 %}aria-labelledby="headingFour"
                                    {% elif forloop.counter == 5 %}aria-labelledby="headingFive"
                                    {% elif forloop.counter == 6 %}aria-labelledby="headingSix"
                                    {% elif forloop.counter == 7 %}aria-labelledby="headingSeven"
                                    {% elif forloop.counter == 8 %}aria-labelledby="headingEight"
                                    {% else %}aria-labelledby="headingOne"{%endif%}
                                    data-parent="#accordion">
                                    <div class="card-body">{{whychooseusreason.text}}</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Blog Section -->
    <section class="blog-section section">
        <div class="container">
            <h2 class="text-left">From the News</h2>
            <div class="blog-carousel-wrap">
                <div class="blog-carousel-controls hide-md-and-down">
                    <div class="dots"></div>
                </div>
                <div class="blog-carousel-01">
                    {% for new in news %}
                    <div class="single-blog-grid-item-01">
                        <div class="thumb">
                            <img src="{{new.image.url}}" alt="blog image">
                            <div class="hover">
                                <a href="index.html#" class="readmore"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <span class="time">{{new.created_at|date:'d F Y'}}</span>
                            <h4 class="title"><a href="index.html#">{{new.title}}</a></h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <h1 class="rotated-text hide-md-and-down">NEWS</h1>
            </div>
            <button class="main-btn">Read our news</button>
        </div>
    </section>

    <!-- Achievements Section -->
    <section class="achievement-section section">
        <div class="container">
            <div id="counters" class="row text-center">
                <div class="col-12 col-md-4">
                    <h1><span class="students-counter count-number">6,980</span></h1>
                    <h4>Global students</h4>
                </div>
                <div class="col-12 col-md-4">
                    <h1><span class="courses-counter count-number">400</span>+</h1>
                    <h4>Courses</h4>
                </div>
                <div class="col-12 col-md-4">
                    <h1><span class="reviews-counter count-number">10,652</span></h1>
                    <h4>5 Star Reviews</h4>
                </div>
            </div>
        </div>
    </section>
{% endblock %}